In [1]:
# procedure for calculating hydraulic confinement along a pressure tunnel 
# completed procedure will in the form of a design report
#   safety factor against hydraulic confinement calculated at stationed points along tunnel alignment
#   calculation determines the minimum dstance from the stationed point to the terrain surface 

# project name: 'Test'

In [2]:
# ToDo
#   put common functions (e.g. setup, data format conversions) into a separate module/API
#   use Nam Ang HEP data for initial testing and demo
#   provide full desgin criteria text in Jupyter Notebook design report

In [3]:
# import required python libraires
import numpy as np
from numpy import *
import pandas as pd
import geopandas as gpd
import shapely as sp
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
%matplotlib inline

# testing
#import random
# check pd and gpd version
#print(pd.__version__)
#print(gpd.__version__)

In [4]:
# python setup for qgis processing
import sys, os
from qgis.core import QgsApplication
from PyQt4.QtGui import QApplication
app = QApplication([], True)  #True -> window display enabled
QgsApplication.setPrefixPath("/usr", True)
QgsApplication.initQgis()
sys.path.append('/usr/share/qgis/python/plugins')  #export PYTHONPATH not needed in start script
from processing.core.Processing import Processing
Processing.initialize() 
import processing
#from processing.tools import *  #not needed currently

In [5]:
# import DSS modules
#import geospatial as geo

In [6]:
# set wd for this procedure and project 
os.chdir("/home/kaelin_joseph/DSS.HydraulicConfinement/")

In [7]:
# define required input files
DTM = "data/swissALTI3D_.tif"  #DEM with surface topography
Alignment = "data/TestAlignment.p0.csv"  #tunnel alignment
#   Alignment contains fields "Point","Type","Station","Northing","Easting","Elevation"
#   check Alignment data: no trailing blank lines, no duplicate lines
Slope = "data/TestTerrainSlope.tif"  #DEM containing slope angle as attribute as new Notebook            #ToDo KLK

In [8]:
# define required inout data
crs = {'init': 'epsg:2056'}  #define crs for project
grass_region = "2603510,2624270,1260650,1274890"  #map region
grass_station_dist = 50  #target station interval
c = 0.5  #ring buffer radius = c*h  (h=overburden)
res = 20.0  #nominal ring buffer grid resolution

In [9]:
# define temporary data
Alignment_shp ='tmp/TestAlignment.shp'  #alignment shp from Alignment
Alignment_grass_csv = 'tmp/TestAlignmentGrass.csv'  #alignment csv fixed for grass
Alignment_line_shp = "tmp/TestAlignmentLine.shp"  #intermediate data
Alignment_stationed_shp = "tmp/TestAlignmentStationed.shp"  #alignment shp containing station points
Alignment_dtm_csv = "tmp/TestAlignmentDTM.csv"  #alignment including terrain elevations at station points
Buffer_shp = "tmp/TestBuffer.shp"  #buffer shp containing ring grid points at a particular station point
Buffer_all_csv = "tmp/TestBufferAll.csv"  # all station point ring buffers written to csv
Buffer_all_shp = "tmp/TestBufferFinal.shp"
Buffer_dtm_csv = "tmp/BufferDTM.csv"

In [10]:
# define output files

In [11]:
# create alignment_df (dataframe) from Alignment csv                         #ToDo JK: make into csv -> df function
alignment_df = pd.read_csv(Alignment)

# delete row if only NA are present in row
alignment_df = alignment_df.dropna(how = "all")
# round alignment_df to three decimals
alignment_df = alignment_df.round(decimals=3)

In [12]:
# create stationed alignment as Alignment_stationed_shp                     #ToDo JK: make into stationing function
# from points in alignment_df
#   required grass input data: x, y coordinates at each alignment point
#   grass input for function v.in.line 1) must have x first and y second; 2) no header 
#   grass output: x, y coordinates at each station point along alignment
alignment_df_grass = alignment_df.loc[:,["Easting", "Northing"]]  #x first and y second
# write Alignment_grass_csv
alignment_df_grass.to_csv(Alignment_grass_csv, header=False, index=False)  #no header

# points to line, write output to Alignment_line_shp
processing.runalg("grass7:v.in.lines",Alignment_grass_csv,",",False,
                  grass_region,0,Alignment_line_shp)  #no spaces between commas

# line to station points, ouput segmented polyline to Alignment_stationed_shp
processing.runalg("grass7:v.to.points",Alignment_line_shp,grass_station_dist,1,True,
                  grass_region,-1,0.0001,0,Alignment_stationed_shp)  #no spaces between commas

{'output': 'tmp/TestAlignmentStationed.shp'}

In [13]:
# create alignment_stationed_df from Alignment_stationed_shp                #ToDo JK: make into shp -> df function
#   required output data: x_align, y_align at each station point
alignment_stationed_df = gpd.read_file(Alignment_stationed_shp)

# create columns for x_align, y_align, then delete columns cat_ and geometry
alignment_stationed_df["x_align"] = alignment_stationed_df.geometry.x
alignment_stationed_df["y_align"] = alignment_stationed_df.geometry.y
alignment_stationed_df = alignment_stationed_df.drop(columns =["cat_", "geometry"])

In [14]:
# add required fields to alignment_stationed_df

# add "id" 
alignment_stationed_df["id_point"] = alignment_stationed_df.index

# add "distance_stat"
alignment_stationed_df["distance_stat"] = np.nan
for n in range(0, len(alignment_stationed_df)-1):
    alignment_stationed_df.iloc[n, alignment_stationed_df.columns.get_loc("distance_stat")] = (
        ((alignment_stationed_df.iloc[n +1]["x_align"] - alignment_stationed_df.iloc[n]["x_align"])**2
        +(alignment_stationed_df.iloc[n +1]["y_align"] - alignment_stationed_df.iloc[n]["y_align"])**2 )**(0.5) )

# add "distance_stat_sum"
alignment_stationed_df["distance_stat_sum"] = np.nan
for n in range(0, len(alignment_stationed_df) -1):
    distance = ( alignment_stationed_df.loc[(alignment_stationed_df.id_point.isin(range(0,n +1))), 
                        "distance_stat"] )
    distances = distance.tolist()
    alignment_stationed_df.iloc[n, alignment_stationed_df.columns.get_loc("distance_stat_sum")] = (
                                                                                        sum(distances) )
    
alignment_stationed_df.head()

        x_align      y_align  id_point  distance_stat  distance_stat_sum
0  2.612072e+06  1269294.122         0      49.171662          49.171662
1  2.612111e+06  1269264.730         1      49.171662          98.343324
2  2.612150e+06  1269235.338         2      49.171662         147.514986
3  2.612190e+06  1269205.946         3      49.171662         196.686648
4  2.612229e+06  1269176.554         4      49.171662         245.858310

In [15]:
# add required field "distance_intermed_align" to alignment_df
alignment_df["distance_intermed_align"] = np.nan

for n in range(0, len(alignment_df) -1):
    alignment_df.iloc[n, alignment_df.columns.get_loc("distance_intermed_align")] = (
        ((alignment_df.iloc[n +1]["Easting"]-alignment_df.iloc[n]["Easting"])**2 
             +(alignment_df.iloc[n +1]["Northing"]-alignment_df.iloc[n]["Northing"])**2 )**(0.5) )
    
alignment_df.head()

,Point,Type,Station,Northing,Easting,Elevation,distance_intermed_align
0,0,NaN,204+874.1,1269294.122,2612071.548,220.962,442.544958
1,221,PT,205+389.861,1269029.594,2612426.331,203.058,3736.888722
2,EC10:3,EC,209+528.128,1265960.779,2614558.633,218.579,NaN

In [16]:
# join alignment_df to alignment_stationed_df
alignment_stationed_df = pd.merge(left= alignment_stationed_df, right = alignment_df, 
                 left_on = ["x_align","y_align"], 
                 right_on = ["Easting","Northing"], how = "left")

# clean up alignment_stationed_df
try:
    alignment_stationed_df = (
        alignment_stationed_df.drop(columns =["Point", "Type", "Northing", "Easting"]) )
except:
    pass

alignment_stationed_df.head()

,x_align,y_align,id_point,distance_stat,distance_stat_sum,Station,Elevation,distance_intermed_align
0,2.612072e+06,1269294.122,0,49.171662,49.171662,204+874.1,220.962,442.544958
1,2.612111e+06,1269264.730,1,49.171662,98.343324,NaN,NaN,NaN
2,2.612150e+06,1269235.338,2,49.171662,147.514986,NaN,NaN,NaN
3,2.612190e+06,1269205.946,3,49.171662,196.686648,NaN,NaN,NaN
4,2.612229e+06,1269176.554,4,49.171662,245.858310,NaN,NaN,NaN

In [17]:
# get id_points for alignment points in alignment_stationed_df 
#   select points where Elevation of point not NaN
id_points_align =  (
    alignment_stationed_df.loc[(alignment_stationed_df.Elevation.isin(alignment_df["Elevation"])), "id_point"] )
id_points_align= id_points_align.tolist()
id_points_align

[0, 9, 84]

In [18]:
# prepare intermediated data in alignment_stationed_df required to interpolate alignment elevations

# fill in "Elevation" and "distance_intermed_align" for points in alignment_stationed_df 
#   where points of alignment_points_df != alignment_df

for n in range(0, len(id_points_align) -1): 
    alignment_stationed_df.loc[(alignment_stationed_df.id_point.isin(range(id_points_align[n] +1, 
                                id_points_align[n +1]))), "Elevation"] = ( 
                                                                    alignment_df["Elevation"][n] )

for n in range(0, len(id_points_align) -1): 
    alignment_stationed_df.loc[(alignment_stationed_df.id_point.isin(range(id_points_align[n] +1, 
                                id_points_align[n +1]))), "distance_intermed_align"] = ( 
                                                        alignment_df["distance_intermed_align"][n] )

# add "distance_intermed_stat" to alignment_stationed_df 
alignment_stationed_df["distance_intermed_stat"] = np.nan

for n in range(0, 1): 
    alignment_stationed_df.loc[(alignment_stationed_df.id_point.isin(range(id_points_align[n], 
                                id_points_align[n +1]))), "distance_intermed_stat"] =  ( 
                                                    alignment_stationed_df["distance_stat_sum"] )
for n in range(1, len(id_points_align) -1): 
    alignment_stationed_df.loc[(alignment_stationed_df.id_point.isin(range(id_points_align[n], 
                                id_points_align[n +1]))), "distance_intermed_stat"] = ( 
                                                    alignment_stationed_df["distance_stat_sum"] - 
                                                    alignment_df["distance_intermed_align"][n -1] )
    
alignment_stationed_df.head()

,x_align,y_align,id_point,distance_stat,distance_stat_sum,Station,Elevation,distance_intermed_align,distance_intermed_stat
0,2.612072e+06,1269294.122,0,49.171662,49.171662,204+874.1,220.962,442.544958,49.171662
1,2.612111e+06,1269264.730,1,49.171662,98.343324,NaN,220.962,442.544958,98.343324
2,2.612150e+06,1269235.338,2,49.171662,147.514986,NaN,220.962,442.544958,147.514986
3,2.612190e+06,1269205.946,3,49.171662,196.686648,NaN,220.962,442.544958,196.686648
4,2.612229e+06,1269176.554,4,49.171662,245.858310,NaN,220.962,442.544958,245.858310

In [19]:
# interpolate alignment elevation ("z_align") at all station points and write to alignment_stationed_df

# add variable "z_align" to alignment_stationed_df
alignment_stationed_df["z_align"] = np.nan

for i in range(0, len(alignment_stationed_df)):
    # alignment points
    if i in id_points_align:
        alignment_stationed_df.iloc[i, alignment_stationed_df.columns.get_loc("z_align")] = ( 
                                                        alignment_stationed_df.iloc[i]["Elevation"] )
    # stationed points
    else:
        id_points_align_plus_point_n = id_points_align
        id_points_align_plus_point_n.append(i)
        id_points_align_plus_point_n.sort()
        
        m = id_points_align_plus_point_n.index(i) +1  #index of point n  +1  -> next alignment point
        n = id_points_align_plus_point_n[m]  #id_point of next alignment point  
        o = id_points_align_plus_point_n.index(i) -1  #index of point n  -1  -> previous alignment point
        p = id_points_align_plus_point_n[o]  #id_point of previous alignment point
        
        alignment_stationed_df.iloc[i, alignment_stationed_df.columns.get_loc("z_align")] = ( 
                                                    alignment_stationed_df.iloc[p]["Elevation"] 
                                                    +(alignment_stationed_df.iloc[n]["Elevation"] 
                                                    -alignment_stationed_df.iloc[p]["Elevation"]) 
                                                        /alignment_stationed_df.iloc[i]["distance_intermed_align"]
                                                        *alignment_stationed_df.iloc[i-1]["distance_intermed_stat"] )

        id_points_align_plus_point_n.remove(i)

alignment_stationed_df = alignment_stationed_df.drop(columns = ["distance_intermed_align"])
alignment_stationed_df = alignment_stationed_df.drop(columns = ["distance_intermed_stat"])
alignment_stationed_df = alignment_stationed_df.drop(columns = ["Elevation"])
alignment_stationed_df.head()

,x_align,y_align,id_point,distance_stat,distance_stat_sum,Station,z_align
0,2.612072e+06,1269294.122,0,49.171662,49.171662,204+874.1,220.962000
1,2.612111e+06,1269264.730,1,49.171662,98.343324,NaN,218.972667
2,2.612150e+06,1269235.338,2,49.171662,147.514986,NaN,216.983333
3,2.612190e+06,1269205.946,3,49.171662,196.686648,NaN,214.994000
4,2.612229e+06,1269176.554,4,49.171662,245.858310,NaN,213.004667

In [20]:
# add required field "z_dtm_align" to alignment_stationed_df 

# list of shapely geometry points                                                #ToDo JK: make df -> shp function           
alignment_stationed_geometry = ( 
    [sp.geometry.Point(row['x_align'], row['y_align']) for key, row in alignment_stationed_df.iterrows()] )
# create alignment_stationed_geometry_df
alignment_stationed_geometry_df = ( 
    gpd.GeoDataFrame(alignment_stationed_df, geometry=alignment_stationed_geometry, crs = crs) )
# write df to Alignment_stationed_shp (overwrite file)
alignment_stationed_geometry_df.to_file(Alignment_stationed_shp, driver='ESRI Shapefile') 

# get DTM values for alignment_points                                     #ToDo JK: make into what.points function
#   write to Alignment_dtm_csv
processing.runalg("grass7:r.what.points",DTM,Alignment_stationed_shp, "NA",",", 500,
                  True,False,False,False,False,grass_region,-1,0.0001,Alignment_dtm_csv)

# create alignment_dtm_df (dataframe) from Alignment_dtm_csv 
alignment_dtm_df = pd.read_csv(Alignment_dtm_csv)

# rename col=tmp... to "z_dtm_align"
alignment_dtm_df_col_tmp = [col for col in alignment_dtm_df.columns if 'tmp' in col]
if len(alignment_dtm_df_col_tmp) != 1:
    print "Extraction of DTM col=tmp did not work properly for alignment. Please check"
    exit()
alignment_dtm_df = alignment_dtm_df.rename(
    columns= {alignment_dtm_df_col_tmp[0]: "z_dtm_align"})

# write alignment_dtm_df["z_dtm_align"] to alignment_stationed_df["z_dtm_align"]
alignment_stationed_df["z_dtm_align"] = alignment_dtm_df["z_dtm_align"]

alignment_stationed_df = alignment_stationed_df.drop(columns = ["geometry"])
alignment_stationed_df.head()

Warning: Not all input layers use the same CRS.
This can cause unexpected results.

,x_align,y_align,id_point,distance_stat,distance_stat_sum,Station,z_align,z_dtm_align
0,2.612072e+06,1269294.122,0,49.171662,49.171662,204+874.1,220.962000,253.5240
1,2.612111e+06,1269264.730,1,49.171662,98.343324,NaN,218.972667,257.3883
2,2.612150e+06,1269235.338,2,49.171662,147.514986,NaN,216.983333,257.0707
3,2.612190e+06,1269205.946,3,49.171662,196.686648,NaN,214.994000,256.3565
4,2.612229e+06,1269176.554,4,49.171662,245.858310,NaN,213.004667,255.8041

In [21]:
# Add require field "h" to alignment_stationed_df = overburden depth above station point 
alignment_stationed_df["h"] = alignment_stationed_df["z_dtm_align"] - alignment_stationed_df["z_align"] 
alignment_stationed_df.head()

,x_align,y_align,id_point,distance_stat,distance_stat_sum,Station,z_align,z_dtm_align,h
0,2.612072e+06,1269294.122,0,49.171662,49.171662,204+874.1,220.962000,253.5240,32.562000
1,2.612111e+06,1269264.730,1,49.171662,98.343324,NaN,218.972667,257.3883,38.415633
2,2.612150e+06,1269235.338,2,49.171662,147.514986,NaN,216.983333,257.0707,40.087367
3,2.612190e+06,1269205.946,3,49.171662,196.686648,NaN,214.994000,256.3565,41.362500
4,2.612229e+06,1269176.554,4,49.171662,245.858310,NaN,213.004667,255.8041,42.799433

In [22]:
# define make_buffer to get buffer grid points at all station points along alignment
def make_buffer(point, overburden):
    h = overburden
    if h < 0.0:
        print "Overburden is negative. Please check"
        exit()
    intvls_r = max(int(h*c / res), 1)  #number of intervals along the buffer radius, close enough
    res_r = h*c / intvls_r  #effective resolution along the radius
    buffer = np.array(point)  #initialize buffer, first item is exactly at station point

    # calculate local coordinates for grid along a ring and add to point coor
    for i in range(intvls_r):
        r = c*h - i*res_r
        perim = 2 * r * pi 
        intvls_c = max(int(perim/res), 1)  #number of intervals along a ring, close enough
        item = np.array([0.0, 0.0])  #initialize       
        for j in range(intvls_c):
            item[0] = (sin((2*pi) / intvls_c *(j+1)) *r) + point[0]
            item[1] = (cos((2*pi) / intvls_c *(j+1)) *r) + point[1]
            buffer = np.vstack((buffer, item))  #vstack works with arrays of diff nr of items, append does not        

    return buffer

In [23]:
# create csv file with all buffer points

# point = alignment_stationed_xy
# create alignment_stationed_xy from alignment_stationed_df with x,y of all station points
alignment_stationed_xy = alignment_stationed_df.as_matrix(columns=['x_align','y_align'])
# overburden = alignment_stationed_h
alignment_stationed_h = alignment_stationed_df.as_matrix(columns=['h'])

# initialize buffer_df, buffer_all_df, buffer_all
buffer_all = {}
buffer_df = pd.DataFrame(columns=["id_point", "x_buffer", "y_buffer"])
buffer_all_df = pd.DataFrame(columns=["id_point", "x_buffer", "y_buffer"])

for n in range(0, len(alignment_stationed_df)): 
    buffer_point = make_buffer(point=alignment_stationed_xy[n], overburden=alignment_stationed_h[n])
    buffer_all[n] = buffer_df.copy(deep=False)  #copy of initialized buffer_df
    #print("n: ", n)
    #print(buffer_all)
    buffer_all[n]["id_point"] = [n] * len(buffer_point)  #list with len(buffer_point) number of n values) 
    buffer_all[n]["z_align"] = ( 
        [alignment_stationed_df.iloc[n, alignment_stationed_df.columns.get_loc("z_align")]] * len(buffer_point) )           
    buffer_all[n]["x_buffer"] = buffer_point[0:,0]
    buffer_all[n]["y_buffer"] = buffer_point[0:,1]
    buffer_all_df = pd.concat([buffer_all_df, buffer_all[n]])
    #print(buffer_all_df)
    
# add variable "id_buffer_point" to buffer_all_df
buffer_all_df = buffer_all_df.reset_index(drop=True)
buffer_all_df["id_buffer_point"] = buffer_all_df.index    

# save buffer_all_df to csv
buffer_all_df.to_csv(Buffer_all_csv, sep=",", na_rep="NaN")

buffer_all_df.head()
                                               #ToDo KLK: make check plot of alignment, station points, buffer_all

  id_point      x_buffer      y_buffer  z_align  id_buffer_point
0        0  2.612072e+06  1.269294e+06  220.962                0
1        0  2.612087e+06  1.269299e+06  220.962                1
2        0  2.612081e+06  1.269281e+06  220.962                2
3        0  2.612062e+06  1.269281e+06  220.962                3
4        0  2.612056e+06  1.269299e+06  220.962                4

In [24]:
# add required fiedl "z_dtm_buffer" and calcualted "dist" to buffer_all_df 

# buffer_all_df to Buffer_all_shp                                   #ToDo JK: reuse df -> shp function from above
# list of shapely geometry points
buffer_all_geometry = ( 
    [sp.geometry.Point(row['x_buffer'], row['y_buffer']) for key, row in buffer_all_df.iterrows()] )
# create buffer_all_geometry_df
buffer_all_geometry_df = gpd.GeoDataFrame(buffer_all_df, geometry=buffer_all_geometry, crs = crs)
# write df to Buffer_all_shp
buffer_all_geometry_df.to_file(Buffer_all_shp, driver='ESRI Shapefile') 
#print(buffer_all_geometry_df.head())

# get DTM values for Buffer_all_shp                                #ToDo JK: reuse what.points function from above
#   write to Buffer_dtm_csv
processing.runalg("grass7:r.what.points",DTM,Buffer_all_shp, "NA",",", 500,True,False,False,False,False,
                  grass_region,-1,0.0001,Buffer_dtm_csv)

# create buffer_dtm_df (dataframe) from Buffer_dtm_csv
buffer_dtm_df = pd.read_csv(Buffer_dtm_csv)

# rename col=tmp... to "z_dtm_buffer"
buffer_dtm_df_col_tmp = [col for col in buffer_dtm_df.columns if 'tmp' in col]
if len(buffer_dtm_df_col_tmp) != 1:
    print "Extraction of DTM col=tmp did not work properly for buffer. Please check"
    exit()
buffer_dtm_df = buffer_dtm_df.rename(
    columns= {buffer_dtm_df_col_tmp[0]: "z_dtm_buffer"})
#print(buffer_dtm_df.head())

# write buffer_dtm_df["z_dtm"] to buffer_all_df["z_dtm"]
buffer_all_df["z_dtm_buffer"] = buffer_dtm_df["z_dtm_buffer"]
#print(buffer_all_df.head())

# calculate "dist" between each buffer point and associated alignment point 
buffer_all_df["dist"] = buffer_all_df["z_dtm_buffer"] -buffer_all_df["z_align"]    #ToDo KLK: !!!Need 3-d distance

# clean up
buffer_all_df = buffer_all_df.drop(columns =["geometry"])
buffer_all_df.head()

Warning: Not all input layers use the same CRS.
This can cause unexpected results.

,id_point,x_buffer,y_buffer,z_align,id_buffer_point,z_dtm_buffer,dist
0,0,2.612072e+06,1.269294e+06,220.962,0,253.5240,32.5620
1,0,2.612087e+06,1.269299e+06,220.962,1,252.5021,31.5401
2,0,2.612081e+06,1.269281e+06,220.962,2,252.6407,31.6787
3,0,2.612062e+06,1.269281e+06,220.962,3,254.1904,33.2284
4,0,2.612056e+06,1.269299e+06,220.962,4,253.7920,32.8300

In [25]:
# calculate minimum distance to terrain in each buffer ring
#   required output data: dist for each buffer point, min_dist for buffer ring

In [26]:
# calculate "min_dist"

buffer_all_df["min_dist"] = np.nan

for n in range(0, len(alignment_stationed_df)):
    buffer_all_df_sel = buffer_all_df.loc[(buffer_all_df["id_point"] == n),]
    dist_idxmin=buffer_all_df_sel['dist'].idxmin()
    buffer_all_df.loc[(buffer_all_df["id_buffer_point"] == dist_idxmin), "min_dist"] = "MIN"

buffer_all_df.to_csv(Buffer_all_csv, header=True, index=False)  #no header
buffer_all_df

buffer_all_df.loc[(buffer_all_df["min_dist"] == "MIN"),]

,id_point,x_buffer,y_buffer,z_align,id_buffer_point,z_dtm_buffer,dist,min_dist
5,0,2.612072e+06,1.269310e+06,220.962000,5,252.4697,31.507700,MIN
7,1,2.612128e+06,1.269274e+06,218.972667,7,252.4160,33.443333,MIN
18,2,2.612133e+06,1.269245e+06,216.983333,18,252.9120,35.928667,MIN
21,3,2.612208e+06,1.269216e+06,214.994000,21,255.8314,40.837400,MIN
29,4,2.612248e+06,1.269166e+06,213.004667,29,255.7504,42.745733,MIN
38,5,2.612259e+06,1.269127e+06,211.015333,38,255.7843,44.768967,MIN
48,6,2.612289e+06,1.269133e+06,209.026000,48,255.8845,46.858500,MIN
55,7,2.612323e+06,1.269083e+06,207.036667,55,255.7091,48.672433,MIN
62,8,2.612387e+06,1.269031e+06,205.047333,62,255.1424,50.095067,MIN
73,9,2.612400e+06,1.269015e+06,203.058000,73,259.9431,56.885100,MIN
83,10,2.612429e+06,1.268974e+06,203.264947,83,262.3063,59.041353,MIN
94,11,2.612454e+06,1.268953e+06,203.471893,94,262.5996,59.127707,MIN
100,12,2.612537e+06,1.268892e+06,203.678840,100,262.6726,58.993760,MIN
107,13,2.612540e+06,1.268866e+06,203.885787,107,262.6445,58.758713,MIN
117,14,2.612568e+06,1.268825e+06,204.092733,117,262.6827,58.589967,MIN
128,15,2.612616e+06,1.268807e+06,204.299680,128,262.6976,58.397920,MIN
139,16,2.612654e+06,1.268748e+06,204.506627,139,262.7889,58.282273,MIN
149,17,2.612682e+06,1.268707e+06,204.713573,149,256.4987,51.785127,MIN
158,18,2.612701e+06,1.268684e+06,204.920520,158,262.8120,57.891480,MIN
175,19,2.612692e+06,1.268643e+06,205.127467,175,262.8984,57.770933,MIN
185,20,2.612721e+06,1.268602e+06,205.334413,185,262.8878,57.553387,MIN
195,21,2.612749e+06,1.268561e+06,205.541360,195,262.8136,57.272240,MIN
201,22,2.612796e+06,1.268469e+06,205.748307,201,262.9494,57.201093,MIN
208,23,2.612853e+06,1.268457e+06,205.955253,208,262.7272,56.771947,MIN
216,24,2.612873e+06,1.268436e+06,206.162200,216,255.8730,49.710800,MIN
225,25,2.612901e+06,1.268395e+06,206.369147,225,262.5960,56.226853,MIN
241,26,2.612910e+06,1.268362e+06,206.576093,241,262.7749,56.198807,MIN
243,27,2.612958e+06,1.268313e+06,206.783040,243,262.6763,55.893260,MIN
254,28,2.612986e+06,1.268232e+06,206.989987,254,262.7523,55.762313,MIN
261,29,2.613015e+06,1.268231e+06,207.196933,261,262.8087,55.611767,MIN
...,...,...,...,...,...,...,...,...
459,55,2.613734e+06,1.267127e+06,212.577547,459,251.4183,38.840753,MIN
468,56,2.613744e+06,1.267117e+06,212.784493,468,252.9463,40.161807,MIN
476,57,2.613791e+06,1.267087e+06,212.991440,476,255.1048,42.113360,MIN
478,58,2.613838e+06,1.267036e+06,213.198387,478,256.4379,43.239513,MIN
485,59,2.613867e+06,1.266995e+06,213.405333,485,256.5525,43.147167,MIN
496,60,2.613857e+06,1.266954e+06,213.612280,496,257.1760,43.563720,MIN
503,61,2.613886e+06,1.266913e+06,213.819227,503,257.6390,43.819773,MIN
511,62,2.613933e+06,1.266883e+06,214.026173,511,257.9394,43.913227,MIN
514,63,2.613981e+06,1.266809e+06,214.233120,514,257.4884,43.255280,MIN
520,64,2.614009e+06,1.266790e+06,214.440067,520,257.4489,43.008833,MIN
526,65,2.614018e+06,1.266738e+06,214.647013,526,257.6814,43.034387,MIN
534,66,2.614066e+06,1.266708e+06,214.853960,534,258.0255,43.171540,MIN
547,67,2.614075e+06,1.266681e+06,215.060907,547,261.7696,46.708693,MIN
554,68,2.614078e+06,1.266615e+06,215.267853,554,265.8430,50.575147,MIN
563,69,2.614105e+06,1.266575e+06,215.474800,563,267.3995,51.924700,MIN
572,70,2.614132e+06,1.266534e+06,215.681747,572,268.8936,53.211853,MIN
582,71,2.614170e+06,1.266512e+06,215.888693,582,270.0038,54.115107,MIN
591,72,2.614197e+06,1.266472e+06,216.095640,591,271.7707,55.675060,MIN
596,73,2.614266e+06,1.266391e+06,216.302587,596,272.9266,56.624013,MIN
603,74,2.614294e+06,1.266390e+06,216.509533,603,273.1420,56.632467,MIN
618,75,2.614283e+06,1.266349e+06,216.716480,618,273.4417,56.725220,MIN
628,76,2.614331e+06,1.266317e+06,216.923427,628,273.5175,56.594073,MIN
634,77,2.614340e+06,1.266227e+06,217.130373,634,273.7864,56.656027,MIN
646,78,2.614388e+06,1.266235e+06,217.337320,646,273.0361,55.698780,MIN
655,79,2.614416e+06,1.266194e+06,217.544267,655,273.3940,55.849733,MIN
659,80,2.614465e+06,1.266105e+06,217.751213,659,273.3212,55.569987,MIN
667,81,2.614501e+06,1.266084e+06,217.958160,667,273.3174,55.359240,MIN
678,82,2.614502e+06,1.266015e+06,218.165107,678,270.6461,52.480993,MIN
689,83,2.614504e+06,1.266002e+06,218.372053,689,270.7125,52.340447,MIN
696,84,2.614548e+06,1.265938e+06,218.579000,696,269.2510,50.672000,MIN

In [27]:
# calculate hydraulic confinement safety factor at each station point
#   required input data: reference maximum water pressure elevation (static or dynamic ??)

In [28]:
# plot results for hydraulic confinement safety factor as horizontal bar beneath longitudinal profile